<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kotlin_250_project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kotlin_250_Project">

        <!-- Welcome Activity set as the launcher activity -->
        <activity android:name=".ui.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.LoginActivity"
            android:exported="true" />

        <!-- Signup Activity -->
        <activity
            android:name=".ui.SignupActivity"
            android:exported="true" />

        <activity android:name=".ui.HomeScreenActivity"
            android:exported="true" />


        <activity
            android:name=".ui.UpdateProfileActivity"
            android:exported="true" />

        <activity
            android:name=".ui.BookmarkFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".ui.ResultActivity"
            android:exported="true" />
        <activity android:name=".ui.PerformanceGraphActivity"
            android:exported="true"/>
        <activity android:name=".ui.EducationInfoActivity"
            android:exported="true" />
        <activity android:name=".ui.ProgressActivity"
            android:exported="true" />
        <activity android:name=".ui.NotesActivity"
            android:exported="true"/>
        <activity android:name=".ui.NoteDetailActivity"
            android:exported="true"/>

    </application>

</manifest>
